<!DOCTYPE html>
<html>
  <head>
    <title>Basic Login With Sails</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->
  </head>

  <body>
    <ul class="container">
        <% if (req.session.me) { %>
          <li class="span3">
              <p><form action="/listar" method="POST">
              <button type="submit" class="btn btn-default btn-lg btn-block">Ver mis propiedades</button>
              </form></p>
  				</li>
          <li class="span3">
  						<a href="/propiedad/new" class="btn btn-default btn-lg btn-block">INGRESAR NUEVA PROPIEDAD</a><br/>
          </li>
        <% } %>
				<li class="span3">
            <a href="/ejemplo" class="btn btn-default btn-lg btn-block">PAGINA EJEMPLO</a><br/>
				</li>
				<li class="span3">
						<a href="product_detail.html" class="btn btn-default btn-lg btn-block">TUTORIAL PARA CREAR Y MODIFICAR PROPIEDADES</a><br/>
				</li>
        <% if (!req.session.me) { %>
				<li class="span3">
						<a href="/signup" class="btn btn-default btn-lg btn-block">CREA UNA CUENTA</a><br/>
				</li>
				<li class="span3">
						<a href="/login" class="btn btn-default btn-lg btn-block">INICIA SESION</a><br/>
				</li>
        <% } %>
			</ul>


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
