<h1>Signup</h1>
<form action="/signup" method="post">

  <label for="name">Esriba su nombre</label>
  <input name="name" type="text" placeholder="nombre"/>
  <br/>

  <label for="name">Escriba su apellido</label>
  <input name="lastname" type="text" placeholder="apellido"/>
  <br/>

  <label for="email">Indique su dirección de correo electronico?</label>
  <input name="email" type="text"/>
  <br/>

  <label for="password">Elija una contraseña</label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>
