<!--
<h1>Signup</h1>
<form action="/propiedad/create/" method="POST">

  <input type="hidden" name="owner" value="<%=req.session.me %>"/>
  <label for="name">nombre propiedad</label>
  <input name="name" type="text" placeholder="nombre propiedad"/>
  <br/>

  <label for="address">direccion</label>
  <input name="address" type="text" placeholder="direccion"/>
  <br/>

  <label for="descriptionl">descripcion</label>
  <input name="description" type="text"/>
  <br/>

  <label for="value">tarifa</label>
  <input name="value" type="password"/>
  <br/>

  <input type="submit"/>
</form> -->

<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
		<title>Admin</title>
	</head>
<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Nueva Propiedad</h1>
	               		<hr />
	               	</div>
	            </div>
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="/propiedad/create/">

            <input type="hidden" name="owner" value="<%=req.session.me %>"/>

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nombre</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name" id="name"  placeholder="Ingrese nombre de la propiedad"/>
								</div>
							</div>
						</div>

            <div class="form-group">
							<label for="address" class="cols-sm-2 control-label">Dirección</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="address" id="address"  placeholder="ej: region,comuna,calle,numero"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="Description" class="cols-sm-2 control-label">Description</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <textarea name="description" class="form-control" id="description" placeholder="Descripción"/></textarea>
									<!-- <input type="text" class="form-control" name="email" id="email"  placeholder="Ingrese su email"/> -->
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="value" class="cols-sm-2 control-label">Contraseña</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="value" id="value"  placeholder="Tarifa diaria"/>
                  <
								</div>
							</div>
						</div>


						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Listo</button>
						</div>
						<div class="login-register">
				            <a href="/">Cancelar</a>
				         </div>
					</form>
				</div>
			</div>
		</div>
