<!-- <div class="row">
		<form action="/propiedad/create" method="POST">
			<div class="col-md-6">
				<input class="form-control" type="text" name="name" placeholder="nombre pro"><hr>
				<textarea rows="3" class="form-control" name="description" placeholder="Description"></textarea>
			</div>
			<div class="col-md-6">
				<textarea rows="7" class="form-control" name="content" placeholder="Content"></textarea>
			</div>
			<div class="col-md-12">
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
				<br><input type="submit" class="btn btn-success" value="CREATE" />
			</div>
		</form>
</div><br>
-->
<h1>Signup</h1>
<table class="table text-left">
		<tr>
			<th>ID</th>
			<th>TITLE</th>
			<th></th>
			<th></th>
			<th></th>
</tr>
